/***font***/
.lobster-regular {
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

.inter-tight-uniquifier {
    font-family: "Inter Tight", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HSSanTokki20-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/***basic***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

ul {
    list-style-type: none;
}

/***main***/
/***nav***/
main {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    overflow: hidden;
}

main > .all {
    display: flex;
    flex-direction: column;  
}

main > nav > ul {
    background-color: #ffffff;
    display: flex;
    padding: 30px 0;
    justify-content: space-around;
    font-family: 'PyeongChangPeace-Bold';
}

main > nav > ul > li {
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

main > nav > ul > li:hover {
    color: #fff;
    background-color: #FFC0CB;
    border-radius: 15px;
}

main > .all > .h2-all {
    margin: 50px;
}

main > .all > .h2-all > h2 {
    font-family: 'PyeongChangPeace-Bold';
    color: #fff;
    font-size: 100px;
}

main > .all > .h2-all > h2:nth-of-type(2) {
    font-size: 80px;
    color: #00B8D4;
}

main > .all > .main-all {
    display: flex;
    align-items: center;  
    justify-content: space-between;  
    padding:  50px;
}

main > .all > .main-all > .main-a {
    display: flex;
    flex-direction: column;  
    gap: 10px;  
    text-align: left;  
    color: #fff;  
    font-size: 18px;
}

main > .all > .main-all > img {
    width: 480px;
    height: 600px;
    border-radius: 15px;
    margin-left: 30px;  
}

/* **skill section** */
section {
    width: 100%;
    height: 100vh;
    background-color: #FFC0CB;
    align-items: center;
}

section > .img-1 {
    padding-left: 200px;
}

section > h2 {
    font-family: 'HSSanTokki20-Regular';
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 200px;
    color: #000;
    margin: 50px;
}

section > h2 > hr {
    background-color: #000;
    width: 20%;
    margin-top: 110px;
    margin-left: 50px;
    margin-right: 50px;
    height: 20px;
    border: none;
    border-radius: 7px;
}

/*** clone-site ***/
.clone-all {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.clone-Site {
    overflow-x: auto; 
    white-space: nowrap;
    display: flex;
}

.clone-all > h2 {
    font-family: 'PyeongChangPeace-Bold';
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 80px;
    padding: 50px;
}

.clone-Site > .clone-wrap1,
.clone-Site > .clone-wrap2,
.clone-Site > .clone-wrap3,
.clone-Site > .clone-wrap4 {
    flex-shrink: 0; 
    display: flex; 
    align-items: center; 
    margin: 0 150px;
}

.clone-Site > .clone-wrap1 > .clone-a,
.clone-Site > .clone-wrap2 > .clone-b,
.clone-Site > .clone-wrap3 > .clone-c,
.clone-Site > .clone-wrap4 > .clone-d {
    margin: 50px;
    padding-bottom: 50px;
    color: #ffffff;
}

.clone-Site > .clone-wrap1 > .clone-a > button,
.clone-Site > .clone-wrap2 > .clone-b > button,
.clone-Site > .clone-wrap3 > .clone-c > button,
.clone-Site > .clone-wrap4 > .clone-d > button {
    width: 300px;
    height: 60px;
    margin: 50px 0;
    cursor: pointer;
    border: none;
    background-color: #FFC0CB;
    font-family: 'PyeongChangPeace-Bold';
    border-radius: 10px;
    font-size: 30px;
}

.clone-Site > .clone-wrap1 > .clone-a > h3,
.clone-Site > .clone-wrap2 > .clone-b > h3,
.clone-Site > .clone-wrap3 > .clone-c > h3,
.clone-Site > .clone-wrap4 > .clone-d > h3 {
    font-size: 50px;
    color: #fff;
}

.clone-Site > .clone-wrap1 > .clone-a > h5,
.clone-Site > .clone-wrap2 > .clone-b > h5,
.clone-Site > .clone-wrap3 > .clone-c > h5,
.clone-Site > .clone-wrap4 > .clone-d > h5 {
    margin: 20px 0;
    font-size: 30px;
    color: #fff;
}

.clone-Site > .clone-wrap1 > .clone-a > p,
.clone-Site > .clone-wrap2 > .clone-b > p,
.clone-Site > .clone-wrap3 > .clone-c> p,
.clone-Site > .clone-wrap4 > .clone-d > p {
    font-size: 25px;
    color: #fff;
}

.clone-Site > .clone-wrap1 > img,
.clone-Site > .clone-wrap2 > img,
.clone-Site > .clone-wrap3 > img,
.clone-Site > .clone-wrap4 > img {
    margin: 50px;
    width: 800px;
    height: 600px;
    border-radius: 8px; /* 이미지를 둥글게 */
}


/*** Website Publishing ***/
.web-all {
    width: 100%;
    background-color: #000000;
    overflow: hidden;
}

.web-all > h2 {
    font-family: 'PyeongChangPeace-Bold';
    color: #00B8D4;
    font-size: 80px;
    padding: 50px;
    text-align: center;
}

.web-all .slider-for {
    display: flex;
    justify-content: center;
    position: relative;
}

.web-all .slider-for .web-1,
.web-all .slider-for .web-2,
.web-all .slider-for .web-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 10px;
}

.web-all .slider-for img {
    width: 800px;
    height: 450px;
    border-radius: 20px;
    cursor: pointer;
}
.web-all .slider-for img:hover{
    background-color: #000000;
}

.web-all .slider-for .web-a,
.web-all .slider-for .web-b,
.web-all .slider-for .web-c {
    text-align: center;
    position: absolute;
    left: 35%;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.web-all .slider-nav {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.web-all .slider-nav .web-1,
.web-all .slider-nav .web-2,
.web-all .slider-nav .web-3 {
    width: 150px;
    height: 100px;
    margin: 0 10px;
    border-radius: 8px;
}

.web-all .slider-nav img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.web-all .slider-nav .slick-center img {
    border: 2px solid #00B8D4;
    opacity: 0.8;
}

.web-all .slider-nav .slick-prev,
.web-all .slider-nav .slick-next {
    display: none;
}

.web-all .slider-nav .slick-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}


/*** Website a Styling ***/
.web-all > a{
    background-color: transparent;
    border:solid 3px #FFC0CB;
    color: #FFC0CB;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 40%;
    margin-top: 40px;
    padding: 30px 150px;
    margin-bottom: -100px;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
}
.web-all > a:hover{
    border:solid 3px #ffffff;
    color: #ffffff;
}

/* 슬라이드 이미지 전환 애니메이션 */
.web-all .slider-for .web-1 img,
.web-all .slider-for .web-2 img,
.web-all .slider-for .web-3 img {
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.web-all .slider-for .web-1.slick-current img,
.web-all .slider-for .web-2.slick-current img,
.web-all .slider-for .web-3.slick-current img {
    transform: scale(1.05);
    opacity: 1;
}
/* 슬라이더 버튼 스타일 */
.web-all .slider-prev,
.web-all .slider-next {
    transform: translateY(-500%);
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 50px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.web-all .slider-prev {
    left: 20px;  /* 왼쪽 끝 */
}

.web-all .slider-next {
    right: 20px; /* 오른쪽 끝 */
}

.web-all .slider-prev:hover,
.web-all .slider-next:hover {
    background-color: #fff;
    color: #FFC0CB;
}

/*** Animation ***/
.ani-all{
    width:100%;
    /* height: 100vh; */
    background-color: #ca8a8a;
}
.ani-all > h2{
    font-family: 'PyeongChangPeace-Bold';
    color: #000000;
    font-size: 80px;
    padding: 50px;
    text-align: center;
}
.ani-all > .ani-img{
    display: block;
}
.ani-all > .ani-img > img{
    width: 1300px;
    height: 700px;
    margin-left: 15%;
}
/*** UI/UX Design ***/
.ui-all{
    width:100%;
    height: 100vh;
    perspective:500px;
    transform-style: preserve-3d;
}
.ui-all > h2{
    font-family: 'PyeongChangPeace-Bold';
    color: #00B8D4;
    font-size: 80px;
    padding: 50px;
    text-align: center;
}
.ui-all > .slide {
    transition:0.5s;
    width:300px;
    box-shadow:0 10px 50px gray;
    height:300px;
    background:white;
    border:1px solid rgba(0,0,0,0.1);
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%)
  }
  .ui-all >  .slide:nth-of-type(1),.slide:nth-of-type(2){  
    transform:translate(calc(-50%*1.1),-100%) translateZ(-180px);
  }
  .ui-all > .slide:nth-of-type(2){
    transform:translate(calc(-50%*3.1),-50%) translateZ(-80px);
  }
  .ui-all > .slide:nth-of-type(3){
     transform:translate(calc(-50%*1.1),-50%) translateZ(50px) ;
  }
  .ui-all > .slide:nth-of-type(4){
      transform:translate(calc(-50%*-0.9),-50%) translateZ(-80px) ;
  }
  .ui-all > .buttons {
    position:absolute;
    bottom:1em;
    left:50%;
    transform:translate(-50%);
    }
    .ui-all > .buttons > .prev,
    .ui-all > .buttons > .next{
        width: 150px;
        height: 50px;
    }

    /*** JavaScript ***/
    .js-all{
        width:100%;
        height: 100vh;
        background-color: #000000;
    }
    .js-img{
        margin-left: 7%;
    }
    .js-all > h2{
        font-family: 'PyeongChangPeace-Bold';
        color: #00B8D4;
        font-size: 80px;
        padding: 50px;
        text-align: center;
    }
    .js-all > .js-img > img:nth-child(1),
    .js-all > .js-img > img:nth-child(2),
    .js-all > .js-img > img:nth-child(3){
        width: 300px;
        height: 600px;
    }
    .js-all > .js-img > img:nth-child(4){
        width: 700px;
        height: 600px;
    }
/* 반응형 디자인 추가 */
@media screen and (max-width: 1200px) {
    .web-all .slider-for img {
        width: 100%;
        height: 100%;
    }

    .web-all .slider-nav .web-1,
    .web-all .slider-nav .web-2,
    .web-all .slider-nav .web-3 {
        width: 100px;
        height: 75px;
    }

    .web-all .slider-nav img {
        width: 100%;
        height: 100%;
    }

    main > .all > .main-all {
        flex-direction: column;
        padding: 30px;
    }

    main > .all > .main-all > img {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .web-all > h2 {
        font-size: 50px;
    }

    main > .all > .h2-all > h2 {
        font-size: 40px;
    }

    main > nav > ul > li {
        font-size: 18px;
    }

    section > h2 {
        font-size: 100px;
    }

    section > .img-1 {
        padding-left: 0;
    }

    .clone-Site > .clone-wrap1,
    .clone-Site > .clone-wrap2,
    .clone-Site > .clone-wrap3,
    .clone-Site > .clone-wrap4 {
        margin: 0 50px;
    }

    .clone-Site > .clone-wrap1 > .clone-a,
    .clone-Site > .clone-wrap2 > .clone-b,
    .clone-Site > .clone-wrap3 > .clone-c,
    .clone-Site > .clone-wrap4 > .clone-d {
        margin: 20px;
        padding-bottom: 20px;
    }

    .clone-Site > .clone-wrap1 > img,
    .clone-Site > .clone-wrap2 > img,
    .clone-Site > .clone-wrap3 > img,
    .clone-Site > .clone-wrap4 > img {
        width: 100%;
        height: auto;
        margin: 20px 0;
    }

    .clone-Site > .clone-wrap1 > .clone-a > button,
    .clone-Site > .clone-wrap2 > .clone-b > button,
    .clone-Site > .clone-wrap3 > .clone-c > button,
    .clone-Site > .clone-wrap4 > .clone-d > button {
        width: 200px;
        height: 50px;
        font-size: 18px;
    }

    .clone-Site > .clone-wrap1 > .clone-a > h3,
    .clone-Site > .clone-wrap2 > .clone-b > h3,
    .clone-Site > .clone-wrap3 > .clone-c > h3,
    .clone-Site > .clone-wrap4 > .clone-d > h3 {
        font-size: 40px;
    }

    .clone-Site > .clone-wrap1 > .clone-a > p,
    .clone-Site > .clone-wrap2 > .clone-b > p,
    .clone-Site > .clone-wrap3 > .clone-c> p,
    .clone-Site > .clone-wrap4 > .clone-d > p {
        font-size: 20px;
    }
}
